.form__caption {
    width: 80%;
    margin: 0;
    padding: 15px 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFD9B7;
    line-height: 120%;
}

@media screen and (max-width: 800px) {
    .form__caption {
        width: 100%;
        font-size: 20px;
        padding: 12px 0 5px;
    }
}