.circle-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.circle {
    position: absolute;
    background-color: #D2D2D2;
    border-radius: 50%;
    transform: translate(-50%, -50%); 
    transition: background-color 0.6s ease, box-shadow 0.6s ease, transform 0.4s ease;
}

.circle.highlighted {
    background-color: #FF6A3D; 
    box-shadow: 0 0 24px rgba(255, 106, 61, 0.5), 0 0 90px rgba(255, 106, 61, 0.8);
    transform: translate(-50%, -50%) scale(1);
}

.circle.passed {
    background-color: #F9D1A9; 
}

.circle:not(.highlighted):not(.passed) {
    filter: grayscale(1);
    opacity: 0.65;
}

.circle:nth-child(3) {
    background-image: url("/src/images/food.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.circle:nth-child(8) {
    background-image: url("/src/images/clothes.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.circle:nth-child(12) {
    background-image: url("/src/images/furniture.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.circle:nth-child(15) {
    background-image: url("/src/images/car.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.circle:nth-child(16) {
    background-image: url("/src/images/house.svg");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-headline {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 140px 60px 80px; 
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.cover-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 90%;
    color: #10111E;
    text-wrap: balance;
}

.cover-subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    color: rgba(16, 17, 30, 0.6);
    text-wrap: balance;
}

@media screen and (max-width: 800px) {
    .cover-headline {
        padding: 120px 32px 60px;
        max-width: 720px;
        gap: 18px;
    }
    .cover-title {
        font-size: 48px;
        line-height: 105%;
    }
    .cover-subtitle {
        font-size: 28px;
        line-height: 110%;
    }
}

