.page {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    font-family: 'AeonikPro', 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@media screen and (max-width: 800px) {
  .page {
    width: 100vw;
    padding: 20px 0;
  }
}