.promo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    gap: 10px;
}

.promo__card {
    width: 1fr;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    outline: 1px solid #E7E4D8;
    padding: 20px;
}

.card__tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 10px;
}

.card__tag {
    display: flex;
    padding: 10px;
    background-color: #FFD9B7;
}

.card__text {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    color: #10111E;
    margin: 0;
}

.card__title {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: normal;
    color: #10111E;
    margin: 0;
}

.extra {
    opacity: 0.6;
}

.card__link {
    cursor: pointer;
    text-decoration: none;
}

.card__link:visited {
    text-decoration: none;
}
