.form__radio {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  box-sizing: border-box;
  height: 48px;
  min-height: 48px;
}

.form__radio:first-child .form__radio-input {
  border-right: none;
}

.form__radio:last-child .form__radio-input {
  border-left: none;
}

.form__radio-input {
  appearance: none;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.form__radio-label {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

/* Checked */
.form__radio-input:checked {
  background: #FFFFFF;
  border-color: #FFFFFF;
  cursor: auto;
}

.form__radio-input:checked + .form__radio-label {
  color: #FF6A3D;
  cursor: auto;
}

/* Disabled */
.form__radio-input:disabled {
  background: #E7E4D8;
  border-color: #E7E4D8;
}

.form__radio-input:disabled+ .form__radio-label {
  color: #FAF9F5;
}

@media screen and (max-width: 800px) {
  .form__radio-label {
    font-size: 20px;
  }
}