.header__container {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .header__container {
        gap: 5px;
    }
}