.form__text {
    margin: 0;
    padding: 5px 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    line-height: auto;
    max-width: 850px;
}