.tooltip_container {
    position: absolute;
    margin: 0;
    padding: 10px;
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #E7E4D8;
    box-shadow: 5px 5px 10px rgba(217, 217, 217, 0.4);
    flex-flow: column;
}

.tooltip_text {
    margin: 0;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #282828;
}

.accent {
    font-weight: bold;
}