.footer {
    margin: 40px 0 20px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer_text {
    max-width: 600px;
    margin: 0;
    padding: 5px 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #282828;
    opacity: 0.6;
}