.footer {
    margin: 40px 0 20px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer_text {
    max-width: 600px;
    margin: 0;
    padding: 5px 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #282828;
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .footer {
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .footer_text {
        font-size: 20px;
        line-height: normal;
    }
}