.axis__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    fill: #999999;
    text-anchor: middle;
    text-align: center;
}

.mini {
    font-size: 14px;
}