.form__label {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
}

.form__radio:checked + .form__label {
    color: #000000;
}