.form__title {
    margin: 0;
    padding: 0 0 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: normal;
    color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .form__title {
        font-size: 28px;
    }
}