.buttons_container {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 15px 0;
    background-color: #FAF9F5;
}

.button-active {
    background-color: #FF6A3D;
    border: 1px solid #FF6A3D;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    cursor: auto;
}

.button-disabled {
    background-color: #FAF9F5;
    border: 1px solid #FF6A3D;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FF6A3D;
    cursor: pointer;
}

.button-disabled:hover {
    border: 1px solid #FFD9B7;
    color: #FFD9B7;
}