/* Fonts */
@import url(./fonts/fonts.css);

/* Body */
@import url(./blocks/body/body.css);

/* Root */
@import url(./blocks/root/root.css);

/* Page */
@import url(./blocks/page/page.css);

/* Page */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__logo/header__logo.css);

/* Title */
@import url(./blocks/title/title.css);
@import url(./blocks/title/__headline/title__headline.css);
@import url(./blocks/title/__caption/title__caption.css);
@import url(./blocks/title/__text/title__text.css);

/* Form */
@import url(./blocks/form/form.css);
@import url(./blocks/form/__body/form__body.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__text/form__text.css);
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__caption/form__caption.css);
@import url(./blocks/form/__line/form__line.css);
@import url(./blocks/form/__toggle/form__toggle.css);
@import url(./blocks/form/__radio/form__radio.css);

/* User */
@import url(./blocks/user/user.css);
@import url(./blocks/user/__title/user__title.css);
@import url(./blocks/user/__text/user__text.css);
@import url(./blocks/user/__caption/user__caption.css);

/* Axis */
@import url(./blocks/axis/__text/axis__text.css);

/* Regions */
@import url(./blocks/regions/regions.css);

/* Cover */
@import url(./blocks/cover/cover.css);

/* Tooltip */
@import url(./blocks/tooltip/tooltip.css);

/* Buttons */
@import url(./blocks/buttons/buttons.css);

/* Footer*/
@import url(./blocks/footer/footer.css);

/* How To */
@import url(./blocks/howto/howto.css);

/* Promo */
@import url(./blocks/promo/promo.css);