.header {
    margin: 0 0 10px;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .header {
        gap: 10px;
        padding: 0 20px;
    }
}