.form__body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(1fr, 4);
    grid-auto-flow: row;
    row-gap: 20px;
    column-gap: 10px;
    align-items: baseline;
}

@media screen and (max-width: 800px) {
    .form__body {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        row-gap: 5px;
        column-gap: 0;
    }
    
    .form__body > .form__label {
        grid-column: 1;
    }
    
    .form__body > .form__input,
    .form__body > select,
    .form__body > .form__group,
    .form__body > .form__button {
        grid-column: 1;
        width: 100%;
        min-width: 0;
        box-sizing: border-box;
    }
    
    .form__body > .form__group {
        overflow: hidden;
    }
    
    .form__body > .form__label:empty {
        display: none;
    }
}